* {
  font-family: helvetica;
  color: #888;
}

body {
  position: relative;
  margin: 0 auto;
  background: #16121C;
  width: 100%;
}

#overlay {
  padding: 0;
  position: absolute;
  visibility: hidden;
  display: block;
  height: 250px;
  text-align: center;
  line-height: 250px;
  color: rgba(234, 189, 168, 0.5);
  width: 100%;
  font-family: helvetica;
  font-weight: 1000;
  font-size: 2.5em;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
}
#platform {
  margin: 0 auto;
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(20, 28px);
  grid-template-rows: repeat(10, 28px);
  border: solid 1px #333;
  margin-bottom: -2px;
  background-color: #403551;

}
.brick {
  background-color: #403551;
border-radius: 4px;
  border: solid 1px #4A3E5E;
  font-size: 0.55em;
}
#scoreboard {
  width: 530px;
  background: #1E1B23;
  margin: 0 auto;
  padding: 1px 15px;
  border: solid 1px #333;

}
p {
  margin: 5px;
  color: #A0B2A6;
}
#number {
  padding: 0px;
  font-size: 1.5em;
}

#wrap{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;


}
